/** {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
}*/
body {
    font-size: 17px;
	font-family: Palatino, "Palatino Lynotype", "Book Antiqua", "Hoefler Text",
		Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
    color: #333;
	background: url(../images/bg.png);
}
 /*------------- GENERAL BLOCK ==================*/
h1 {
	padding: 12px 0;
	border-bottom: 1px solid #c0c0c0;
	font-size: 19px;
	color: #B45F04;
	text-transform: uppercase;
    text-align: center;
}
h2 {
    padding: 10px 0;
	font-size: 18px;
    color: black;
    text-align: center;
}
 .button {
    margin-right: 10px;
	padding: 8px 8px;
    background: linear-gradient(white, lightgray);
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
    color: #B45F04;
	font-weight: bold;
	text-decoration: none;
}
.button:hover {
    color: black;
    background: linear-gradient(lightgray, white);
}
/*--------------------------------*/
.title_check {
    font-size: 18px;
    text-align: left;  
    background: url(../images/check.png) no-repeat 0 11px;
    padding: 10px 0 10px 24px;
}
/*--------------------------------*/
.text {
    padding-bottom: 5px;
	font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-indent: 25px;
}
.text_noindent {
    text-indent: 0;
}
.text_italic {
    font-style: italic;
}
.text_bold {
    font-weight: bold;
}
.text_arrow {
    background: url(../images/arrow.png) no-repeat 5px 8px;
}
.text_red {
    color: red;
}
.text_right {
    text-align: right;
}
/*--------------------------------*/
.link {
    font-size: 16px;
    color: #B45F04;
	font-weight: bold;
	text-decoration: none;
}
.link__inside {
    font-size: 17px;
}
.link:hover {
    color: black;
}
.link_active {
    color: black;
}
/*------------- END GENERAL BLOCK ============*/
.top-line {
	background: #090909;
	height: 16px;
	width: 100%;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #f4f4f4;
}
 /*------------- HEADER BLOCK ==================*/
.header {
	position: relative;
    padding-bottom: 2px;
    border-bottom: 1px solid #c0c0c0;
}
.header__iphone {
    display: none;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(white, lightgray);
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid gray;
}
.header__iphone:hover {
    background: linear-gradient(lightgray, white);
}
.header__logo {
	width: 179px;
	height: 100px;
	display: inline-block;
}
.header__contacts {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 55px;
	font-size: 18px;
	color: #B45F04;
	font-weight: bold;
}
.header__phone {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 50px;
	font-size: 18px;
	color: #B45F04;
	font-weight: bold;
	text-decoration: none;
}
.header__free {
	position: absolute;
    bottom: 10px;	
    right: 0;
	font-size: 21px;
	color: red;
	font-weight: bold;
	text-decoration: none;
}
.header__free:hover{
	color: #B45F04;
}

/*------------- MENU BLOCK ==================*/
.menu {
    display: block;
	border-bottom: 1px solid #c0c0c0;
}
.menu__el {
	display: inline-block;
	vertical-align: top;
    width: 150px;
    height: 32px;
    margin-right: 5px;
    background: linear-gradient(white, lightgray);
}
.menu__link {
    display: block;
    width: 150px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    color: #B45F04;
	font-weight: bold;
	text-decoration: none;
}
.menu__link:hover {
    color: black;
    background: linear-gradient(lightgray, white);
}
.menu__link_active {
    color: black;
}
/*------------- HEADER-IMAGE BLOCK ==================*/
.header-image {
    padding: 5px 0;
	border-bottom: 1px solid #c0c0c0;
}
/*------------- CONTENT BLOCK ==================*/
.content {
    padding: 10px 0;
	border-bottom: 1px solid #c0c0c0;
}
/*================== NEWS BLOCK ==================*/


/*================== COLUMNS BLOCK ==================*/
.columns {
    padding: 10px 0;
	border-bottom: 1px solid #c0c0c0;
}
.columns__box {
	display: inline-block;
	vertical-align: top;
	width: 285px;
	margin-right: 52px;
}
.columns__box_right {
	margin-right: 0px;
}
.columns__title {  
    background: url(../images/arrow.png) no-repeat 0 16px;
	margin-bottom: 16px;
    padding: 10px 0 10px 24px;
	border-bottom: 5px solid #090909;
	font-size: 18px;
	font-weight: bold;
    color: black;
}
.columns__text {
    margin-bottom: 7px;
}
.columns__li {
	background: url(../images/check.png) no-repeat 0 7px;
	margin-bottom: 12px;
	padding-left: 28px;    
    line-height: 25px;
    list-style: none;
    font-size: 17px;
}
/*================== VIDEO BLOCK ==================*/
.video {
    padding-top: 10px;
}
.video_border {
	border-bottom: 1px solid #c0c0c0;
}
.video_bot {
    padding-bottom: 10px;
}
.video__cell {
	width: 215px;
	height: 135px;
	display: inline-block;
	margin-right: 33px;
    position: relative;
    /*text-align: center;*/
    /*background-position: center center;*/
}
.video__cell iframe,
.video__cell object,
.video__cell embed {
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.video__cell_right {
	margin-right: 0;
}
/*================== FOOTER BLOCK ==================*/
.footer {
	background: #e2e2e2;
}
.footer__block {
    display: block;
}
.footer__wrap {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.footer__li {
    display: inline-block;
	list-style: none;
	margin: 20px 0 10px 0;
    padding: 0 7px;
	border-right: 1px solid #5d5d5d;
}
.footer__li_first {
    padding-left: 0;
}
.footer__link {
	color: #333;
	text-decoration: none;
}
.footer__link:hover {
    font-weight: bold;
}
.footer__text {
    padding-bottom: 20px;
}
.footer__logo {
	position: absolute;
	top: 15px;
	right: 0;
}
.footer__logo:hover {
	outline: 1px solid #B45F04;
}
.footer__black {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}
.footer__logo-big {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
/*================== KOLLEKTIV BLOCK ==================*/
.kollektiv {
	border: 1px solid #B45F04;
	width: 960px;
}
.kollektiv__photo {
	border: 1px solid #B45F04;
	width: 200px;
	vertical-align: top;
    text-align: center;
}
.kollektiv__desc {
	vertical-align: top;
	border: 1px solid #B45F04;
	width: 760px;
    padding-left: 10px;
}
.kollektiv__wrap {
    padding: 10px 0 15px 0;
}
/*================== RASPISANIE BLOCK ==================*/
.rasp {
	width: 960px;
}
.rasp__el {
	width: 480px;
	padding: 5px;
	font-size: 18px;
	text-align: right;  
}
.rasp__el_right {
	text-align: left;  
}
/*------------- CENTER BLOCK ==================*/
.center {
	border: 1px solid #B45F04;
	width: 960px;
}
.center__el {
	width: 480px;
	padding: 5px;
	border: 1px solid #B45F04;
    font-size: 16px;
	text-align: center;  
}
.center__el_bold {
    font-weight: bold;
}
.center__el_time {
	width: 100px;
    font-weight: bold;
}
/*------------- CLUB BLOCK ==================*/
.club {
    padding-left: 20px;
	/*margin-bottom: 5px;*/
}
.club_el {
	margin-left: 25px;
	font-size: 16px;
    color: #333;
}
/*------------- FORM BLOCK ==================*/
.form {
	font-size: 18px;
	border: 1px solid black;
	margin-bottom: 16px;    
}
/*========================================= MEDIA ==========================================================*/
@media screen and (max-width: 992px) {

/*@media only screen */
/*  and (min-device-width: 320px) */

/*  and (max-device-width: 568px)*/

/*  and (-webkit-min-device-pixel-ratio: 2) {*/
    .title {
        font-size: 27px;
    }
    .text,
    .link,
    .columns__li {
        font-size: 26px;
        line-height: 35px;
    }

    .header__iphone {
        display: block;
    }
    .header__contacts,
    .header__phone {
        margin-left: 20px;
	    font-size: 20px;
    }
    .header__free {
        right: 100px;
	    font-size: 26px;
    }
    .name {
	font-size: 27px;
}
    .menu {
        display: none;
    }
    .menu__el {
        display: block;
        width: 100%;
        height: 80px;
        margin-bottom: 4px;
    }
    .menu__link {
        display: block;
        width: 100%;
        height: 80px;
        font-size: 30px;
        text-align: center;
        line-height: 80px;
    }
    .columns__title {  
        font-size: 27px;
    }
    .columns__box {
        display: block;
        width: 100%;
    }
    .video {
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;
    }
    .video__cell {
        width: 800px;
        height: 450px;
        display: block;
        margin-bottom: 30px;

        position: relative;
        /*overflow: hidden;
        background-position: center center;*/
    }
    .video__cell iframe,
    .video__cell object,
    .video__cell embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
     .show {
        display: block;
    }
    .footer__block {
        display: none;
    }
    .rasp__el {
        font-size: 25px;  
    }
    .center__el {
        font-size: 20px;
    }
}
 /*------------- SHOW-HIDE BLOCK ==================*/
 .show {
    display: block;
}
.hide {
    display: none;
}
/*
.call {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #090909;
	text-transform: uppercase;
	padding-left: 28px;
	margin-bottom: 16px;
}
*/